In [2]:
import pandas as pd

s=pd.Series(['banana',42])
print(s)

0    banana
1        42
dtype: object

In [5]:
s= pd.Series(data=["Wes Mckinney","Creator of Pandas"],index=["Person","Who"])
print(s)

Person         Wes Mckinney
Who       Creator of Pandas
dtype: object

In [8]:
scientists = pd.DataFrame(
    {
        "Name":["Rosaline Franklin","William Gosset"],
        "Occupation":["Chemist","Statistician"],
        "Born":["1920-07-25","1876-06-13"],
        "Died":["1958-04-16","1937-10-16"],
        "Age":[37,61],
    },
    index = ["Rosaline Franklin","William Gosset"],
    columns =["Occupation","Born","Died","Age"],
)
print(scientists)

                     Occupation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
William Gosset     Statistician  1876-06-13  1937-10-16   61

In [12]:
first_row= scientists.loc['William Gosset']
print(type(first_row))
print(first_row)

<class 'pandas.core.series.Series'>
Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object

In [14]:
print(first_row.index)
print(first_row.values)

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')
['Statistician' '1876-06-13' '1937-10-16' 61]

In [16]:
print(first_row.keys())

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [20]:
print(first_row.keys()[0])

Occupation

In [25]:
ages =scientists['Age']
print(ages)

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

In [27]:
print(ages.mean())
print(ages.max())
print(ages.min())
print(ages.std())

49.0
61
37
16.97056274847714

In [29]:
scientists =pd.read_csv('scientists.csv')
print(scientists)

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [31]:
ages =scientists['Age']
print(ages)
print(ages.describe())

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64
count     8.000000
mean     59.125000
std      18.325918
min      37.000000
25%      44.000000
50%      58.500000
75%      68.750000
max      90.000000
Name: Age, dtype: float64

In [33]:
print(ages.mean())

59.125

In [35]:
print(ages[ages>ages.mean()])

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [37]:
print(ages[ages<ages.mean()])

0    37
4    56
5    45
6    41
Name: Age, dtype: int64

In [41]:
print(ages[ages==ages.mean()])

Series([], Name: Age, dtype: int64)

In [47]:
rev_ages=ages.sort_index(ascending=False)
print(rev_ages)

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

In [51]:

print(ages+rev_ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [53]:
print(scientists.loc[scientists['Age']>scientists['Age'].mean()])

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

In [57]:
print(scientists.dtypes)

Name          object
Born          object
Died          object
Age            int64
Occupation    object
dtype: object

In [71]:
born_datetime=pd.to_datetime(scientists['Born'],format='%Y-%m-%d')
print(born_datetime)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]

In [61]:
died_datetime=pd.to_datetime(scientists['Died'],format='%Y-%m-%d')
print(died_datetime)

0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

In [79]:
scientists["Age"]=scientists["Age"].sample(frac=1, random_state=40).values
print(scientists["Age"])

0    77
1    56
2    41
3    37
4    45
5    61
6    66
7    90
Name: Age, dtype: int64

In [81]:
scientists['born_dt'] =born_datetime
scientists['died_dt'] =died_datetime

In [93]:
scientists['real_age_years']= (scientists['died_dt']-scientists['born_dt']).dt.days//365
# print(scientists['real_age_years'])
print(scientists)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   77             Chemist
1        William Gosset  1876-06-13  1937-10-16   56        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   41               Nurse
3           Marie Curie  1867-11-07  1934-07-04   37             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   45           Biologist
5             John Snow  1813-03-15  1858-06-16   61           Physician
6           Alan Turing  1912-06-23  1954-06-07   66  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   90       Mathematician

     born_dt    died_dt  real_age_years
0 1920-07-25 1958-04-16              37
1 1876-06-13 1937-10-16              61
2 1820-05-12 1910-08-13              90
3 1867-11-07 1934-07-04              66
4 1907-05-27 1964-04-14              56
5 1813-03-15 1858-06-16              45
6 1912-06-23 1954-06-07              41
7 1777-04-30 1855-02-23              77

In [95]:
print(scientists.columns)

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt',
       'real_age_years'],
      dtype='object')

In [97]:
scientists_dropped= scientists.drop(['Age'], axis= "columns")
print(scientists_dropped.columns)

Index(['Name', 'Born', 'Died', 'Occupation', 'born_dt', 'died_dt',
       'real_age_years'],
      dtype='object')