In [5]:
import pandas as pd

df_person = pd.read_csv('SURVEY_PERSON.CSV')
df_survey =pd.read_csv('SURVEY_SURVEY.CSV')
df_site = pd.read_csv('SURVEY_SITE.CSV')
df_visited =pd.read_csv('SURVEY_VISITED.CSV')

In [7]:
print(df_person)

      ident   personal    family
0      dyer    William      Dyer
1        pb      Frank   Pabodie
2      lake   Anderson      Lake
3       roe  Valentina   Roerich
4  danforth      Frank  Danforth

In [9]:
print(df_survey)

    taken person quant  reading
0     619   dyer   rad     9.82
1     619   dyer   sal     0.13
2     622   dyer   rad     7.80
3     622   dyer   sal     0.09
4     734     pb   rad     8.41
5     734   lake   sal     0.05
6     734     pb  temp   -21.50
7     735     pb   rad     7.22
8     735    NaN   sal     0.06
9     735    NaN  temp   -26.00
10    751     pb   rad     4.35
11    751     pb  temp   -18.50
12    751   lake   sal     0.10
13    752   lake   rad     2.19
14    752   lake   sal     0.09
15    752   lake  temp   -16.00
16    752    roe   sal    41.60
17    837   lake   rad     1.46
18    837   lake   sal     0.21
19    837    roe   sal    22.50
20    844    roe   rad    11.25

In [11]:
print(df_site)

    name    lat    long
0   DR-1 -49.85 -128.57
1   DR-3 -47.15 -126.72
2  MSK-4 -48.87 -123.40

In [13]:
print(df_visited)

   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3         NaN
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

In [17]:
visited_subset = df_visited.iloc[[0, 2, 6]]
print(visited_subset)

   ident   site       dated
0    619   DR-1  1927-02-08
2    734   DR-3  1939-01-07
6    837  MSK-4  1932-01-14

In [32]:
o2o_merge = pd.merge(visited_subset, df_site , left_on="site", right_on="name")
print(o2o_merge)

   ident   site       dated   name    lat    long
0    619   DR-1  1927-02-08   DR-1 -49.85 -128.57
1    734   DR-3  1939-01-07   DR-3 -47.15 -126.72
2    837  MSK-4  1932-01-14  MSK-4 -48.87 -123.40

In [34]:
m2o_merge = pd.merge(df_site, df_visited, left_on="name", right_on="site")
print(m2o_merge)

    name    lat    long  ident   site       dated
0   DR-1 -49.85 -128.57    619   DR-1  1927-02-08
1   DR-1 -49.85 -128.57    622   DR-1  1927-02-10
2   DR-1 -49.85 -128.57    844   DR-1  1932-03-22
3   DR-3 -47.15 -126.72    734   DR-3  1939-01-07
4   DR-3 -47.15 -126.72    735   DR-3  1930-01-12
5   DR-3 -47.15 -126.72    751   DR-3  1930-02-26
6   DR-3 -47.15 -126.72    752   DR-3         NaN
7  MSK-4 -48.87 -123.40    837  MSK-4  1932-01-14

In [53]:
ps= pd.concat([df_person,df_survey],axis =1)
print(ps)

       ident   personal    family  taken person quant  reading
0       dyer    William      Dyer    619   dyer   rad     9.82
1         pb      Frank   Pabodie    619   dyer   sal     0.13
2       lake   Anderson      Lake    622   dyer   rad     7.80
3        roe  Valentina   Roerich    622   dyer   sal     0.09
4   danforth      Frank  Danforth    734     pb   rad     8.41
5        NaN        NaN       NaN    734   lake   sal     0.05
6        NaN        NaN       NaN    734     pb  temp   -21.50
7        NaN        NaN       NaN    735     pb   rad     7.22
8        NaN        NaN       NaN    735    NaN   sal     0.06
9        NaN        NaN       NaN    735    NaN  temp   -26.00
10       NaN        NaN       NaN    751     pb   rad     4.35
11       NaN        NaN       NaN    751     pb  temp   -18.50
12       NaN        NaN       NaN    751   lake   sal     0.10
13       NaN        NaN       NaN    752   lake   rad     2.19
14       NaN        NaN       NaN    752   lake   sal     0.09
15       NaN        NaN       NaN    752   lake  temp   -16.00
16       NaN        NaN       NaN    752    roe   sal    41.60
17       NaN        NaN       NaN    837   lake   rad     1.46
18       NaN        NaN       NaN    837   lake   sal     0.21
19       NaN        NaN       NaN    837    roe   sal    22.50
20       NaN        NaN       NaN    844    roe   rad    11.25

In [55]:
vs= pd.merge(df_visited,df_survey, left_on ='ident', right_on ='taken')
print(vs)

    ident   site       dated  taken person quant  reading
0     619   DR-1  1927-02-08    619   dyer   rad     9.82
1     619   DR-1  1927-02-08    619   dyer   sal     0.13
2     622   DR-1  1927-02-10    622   dyer   rad     7.80
3     622   DR-1  1927-02-10    622   dyer   sal     0.09
4     734   DR-3  1939-01-07    734     pb   rad     8.41
5     734   DR-3  1939-01-07    734   lake   sal     0.05
6     734   DR-3  1939-01-07    734     pb  temp   -21.50
7     735   DR-3  1930-01-12    735     pb   rad     7.22
8     735   DR-3  1930-01-12    735    NaN   sal     0.06
9     735   DR-3  1930-01-12    735    NaN  temp   -26.00
10    751   DR-3  1930-02-26    751     pb   rad     4.35
11    751   DR-3  1930-02-26    751     pb  temp   -18.50
12    751   DR-3  1930-02-26    751   lake   sal     0.10
13    752   DR-3         NaN    752   lake   rad     2.19
14    752   DR-3         NaN    752   lake   sal     0.09
15    752   DR-3         NaN    752   lake  temp   -16.00
16    752   DR-3         NaN    752    roe   sal    41.60
17    837  MSK-4  1932-01-14    837   lake   rad     1.46
18    837  MSK-4  1932-01-14    837   lake   sal     0.21
19    837  MSK-4  1932-01-14    837    roe   sal    22.50
20    844   DR-1  1932-03-22    844    roe   rad    11.25

In [57]:
ps_vs = pd.merge(ps,vs , on ='quant')
print(ps_vs)

    ident_x personal family  taken_x person_x quant  reading_x  ident_y  \
0      dyer  William   Dyer      619     dyer   rad       9.82      619
1      dyer  William   Dyer      619     dyer   rad       9.82      622
2      dyer  William   Dyer      619     dyer   rad       9.82      734
3      dyer  William   Dyer      619     dyer   rad       9.82      735
4      dyer  William   Dyer      619     dyer   rad       9.82      751
..      ...      ...    ...      ...      ...   ...        ...      ...
156     NaN      NaN    NaN      844      roe   rad      11.25      735
157     NaN      NaN    NaN      844      roe   rad      11.25      751
158     NaN      NaN    NaN      844      roe   rad      11.25      752
159     NaN      NaN    NaN      844      roe   rad      11.25      837
160     NaN      NaN    NaN      844      roe   rad      11.25      844

      site       dated  taken_y person_y  reading_y
0     DR-1  1927-02-08      619     dyer       9.82
1     DR-1  1927-02-10      622     dyer       7.80
2     DR-3  1939-01-07      734       pb       8.41
3     DR-3  1930-01-12      735       pb       7.22
4     DR-3  1930-02-26      751       pb       4.35
..     ...         ...      ...      ...        ...
156   DR-3  1930-01-12      735       pb       7.22
157   DR-3  1930-02-26      751       pb       4.35
158   DR-3         NaN      752     lake       2.19
159  MSK-4  1932-01-14      837     lake       1.46
160   DR-1  1932-03-22      844      roe      11.25

[161 rows x 13 columns]

In [60]:
first_row = ps_vs.iloc[0]
print(first_row)

ident_x            dyer
personal        William
family             Dyer
taken_x             619
person_x           dyer
quant               rad
reading_x          9.82
ident_y             619
site               DR-1
dated        1927-02-08
taken_y             619
person_y           dyer
reading_y          9.82
Name: 0, dtype: object