In [4]:
import pandas as pd
import seaborn as sns


tips = sns.load_dataset("tips")
print(tips)

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [15]:
print("THE FREQUENCY COUNTS IN THE ORIGINAL DATASET")

frequency_counts = tips.value_counts()
print(frequency_counts)

total_bill  tip    sex     smoker  day   time    size
13.00       2.00   Female  Yes     Thur  Lunch   2       2
3.07        1.00   Female  Yes     Sat   Dinner  1       1
22.23       5.00   Male    No      Sun   Dinner  2       1
20.69       2.45   Female  No      Sat   Dinner  4       1
            5.00   Male    No      Sun   Dinner  5       1
                                                        ..
15.53       3.00   Male    Yes     Sat   Dinner  2       1
15.69       1.50   Male    Yes     Sun   Dinner  2       1
            3.00   Male    Yes     Sat   Dinner  3       1
15.77       2.23   Female  No      Sat   Dinner  2       1
50.81       10.00  Male    Yes     Sat   Dinner  3       1
Name: count, Length: 243, dtype: int64

In [36]:
party_size = tips['size'].value_counts()
print(party_size)

size
2    156
3     38
4     37
5      5
1      4
6      4
Name: count, dtype: int64

In [25]:
print (filtered_size_groups.shape)

(3,)

In [72]:
tips_filtered = party_size[party_size > 35]
print(tips_filtered)

size
2    156
3     38
4     37
Name: count, dtype: int64

In [86]:
tips_filtered = party_size[party_size > 35]

print(tips_filtered)

size
2    156
3     38
4     37
Name: count, dtype: int64

In [98]:
print('To get the party size we need to index to filtered dataframe')
filtered_sizes = tips_filtered.index
print(filtered_sizes)


print(tips_filtered)

To get the party size we need to index to filtered dataframe
Index([2, 3, 4], dtype='int64', name='size')
size
2    156
3     38
4     37
Name: count, dtype: int64

In [100]:
import seaborn as sns
import pandas as pd

tips = sns.load_dataset('tips')
tips_10 = tips.sample(n=10, random_state=42)
print("Sample of 10 rows from the 'tips' dataset:")
print(tips_10)

Sample of 10 rows from the 'tips' dataset:
     total_bill   tip     sex smoker   day    time  size
24        19.82  3.18    Male     No   Sat  Dinner     2
6          8.77  2.00    Male     No   Sun  Dinner     2
153       24.55  2.00    Male     No   Sun  Dinner     4
211       25.89  5.16    Male    Yes   Sat  Dinner     4
198       13.00  2.00  Female    Yes  Thur   Lunch     2
176       17.89  2.00    Male    Yes   Sun  Dinner     2
192       28.44  2.56    Male    Yes  Thur   Lunch     2
124       12.48  2.52  Female     No  Thur   Lunch     2
9         14.78  3.23    Male     No   Sun  Dinner     2
101       15.38  3.00  Female    Yes   Fri  Dinner     2

In [ ]:
 GROUP THE DATA IN TIPS_10 BY THE COLUMN 'SEX'. 
ASSIGN THE GROUPED OBJECT TO A VARIABLE NAMED GROUPED. 
DISPLAY THE VARIABLE GROUPED TO VERIFY THE GROUPING.

In [111]:
grouped = tips_10.groupby('sex')
print(grouped)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x15a8e0350>

/var/folders/jd/746wbsm133x23cvkw2qlxzmh0000gp/T/ipykernel_25553/1549211312.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  grouped = tips_10.groupby('sex')

In [113]:
avgs = grouped[['total_bill', 'tip', 'size']].mean()
print(avgs)

        total_bill       tip      size
sex
Male         20.02  2.875714  2.571429
Female       13.62  2.506667  2.000000

In [131]:
# female = avgs.loc['Female']
female = avgs.iloc[1:2]
print(female)

        total_bill       tip  size
sex
Female       13.62  2.506667   2.0

In [133]:
male = avgs.loc['Male']
print(male)

total_bill    20.020000
tip            2.875714
size           2.571429
Name: Male, dtype: float64

In [139]:
for name, group in grouped:
    print(f"Group: {name}")
    print(group)
    print("\n")

Group: Male
     total_bill   tip   sex smoker   day    time  size
24        19.82  3.18  Male     No   Sat  Dinner     2
6          8.77  2.00  Male     No   Sun  Dinner     2
153       24.55  2.00  Male     No   Sun  Dinner     4
211       25.89  5.16  Male    Yes   Sat  Dinner     4
176       17.89  2.00  Male    Yes   Sun  Dinner     2
192       28.44  2.56  Male    Yes  Thur   Lunch     2
9         14.78  3.23  Male     No   Sun  Dinner     2


Group: Female
     total_bill   tip     sex smoker   day    time  size
198       13.00  2.00  Female    Yes  Thur   Lunch     2
124       12.48  2.52  Female     No  Thur   Lunch     2
101       15.38  3.00  Female    Yes   Fri  Dinner     2

In [141]:
bill_sex_time = tips_10.groupby(['sex','time'])
print(bill_sex_time)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x15d648350>

/var/folders/jd/746wbsm133x23cvkw2qlxzmh0000gp/T/ipykernel_25553/3194255394.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  bill_sex_time = tips_10.groupby(['sex','time'])

In [143]:
group_avg = bill_sex_time.mean(numeric_only=True)
print(group_avg)

               total_bill       tip      size
sex    time
Male   Lunch    28.440000  2.560000  2.000000
       Dinner   18.616667  2.928333  2.666667
Female Lunch    12.740000  2.260000  2.000000
       Dinner   15.380000  3.000000  2.000000