In [4]:
import pandas as pd
df = pd.read_csv('gapminder.tsv', sep='\t')
print(df)

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [128]:
grouped_year_df= df.groupby('year')
print(type(grouped_year_df_lifeexp))

         country continent  year  lifeExp       pop     gdpPercap
0    Afghanistan      Asia  1952   28.801   8425333    779.445314
1    Afghanistan      Asia  1957   30.332   9240934    820.853030
2    Afghanistan      Asia  1962   31.997  10267083    853.100710
3    Afghanistan      Asia  1967   34.020  11537966    836.197138
4    Afghanistan      Asia  1972   36.088  13079460    739.981106
..           ...       ...   ...      ...       ...           ...
595       Greece    Europe  1987   76.670   9974490  16120.528390
596       Greece    Europe  1992   77.030  10325429  17541.496340
597       Greece    Europe  1997   77.869  10502372  18747.698140
598       Greece    Europe  2002   78.256  10603863  22514.254800
599       Greece    Europe  2007   79.483  10706290  27538.411880

[600 rows x 6 columns]

In [111]:
grouped_year_df_lifeExp=grouped_year_df['lifeExp']
print(grouped_year_df_lifeExp.first())

year
1952    28.801
1957    30.332
1962    31.997
1967    34.020
1972    36.088
1977    38.438
1982    39.854
1987    40.822
1992    41.674
1997    41.763
2002    42.129
2007    43.828
Name: lifeExp, dtype: float64

In [130]:
mean_lifeexp_by_year =grouped_year_df_lifeExp.mean()
print(mean_lifeexp_by_year)

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [132]:
distinct_countries =df.groupby('continent')['country'].nunique()
print(distinct_countries)

continent
Africa      52
Americas    25
Asia        33
Europe      30
Oceania      2
Name: country, dtype: int64

In [141]:
scientists = pd.DataFrame(
    {
       "Name":["Madam Curie","Nikola Tesla"],
        "Occupation":["Physicist","Engineer"],
        "Born":["1867-11-07","1856-07-10"],
        "Died":["1934-07-04","1943-01-07"],
        "Age":[66,86],  
    }
)
print(scientists)

           Name Occupation        Born        Died  Age
0   Madam Curie  Physicist  1867-11-07  1934-07-04   66
1  Nikola Tesla   Engineer  1856-07-10  1943-01-07   86

In [156]:
scientists = pd.DataFrame(
    {
       "Name":["Madam Curie","Nikola Tesla"],
        "Occupation":["Physicist","Engineer"],
        "Born":["1867-11-07","1856-07-10"],
        "Died":["1934-07-04","1943-01-07"],
        "Age":[66,86],  
    },
    index = ["Madam Curie","Nikola Tesla"],
    columns =["Occupation","Born","Died","Age"]
)
print(scientists)

             Occupation        Born        Died  Age
Madam Curie   Physicist  1867-11-07  1934-07-04   66
Nikola Tesla   Engineer  1856-07-10  1943-01-07   86

In [159]:
born_datetime=pd.to_datetime(scientists['Born'],format='%Y-%m-%d')
print(born_datetime)

Madam Curie    1867-11-07
Nikola Tesla   1856-07-10
Name: Born, dtype: datetime64[ns]

In [162]:
died_datetime=pd.to_datetime(scientists['Died'],format='%Y-%m-%d')
print(died_datetime)

Madam Curie    1934-07-04
Nikola Tesla   1943-01-07
Name: Died, dtype: datetime64[ns]

In [165]:
scientists['Born_dt'] = born_datetime
scientists['Died_dt'] = died_datetime

In [169]:
print(scientists.head())

             Occupation        Born        Died  Age    Born_dt    Died_dt
Madam Curie   Physicist  1867-11-07  1934-07-04   66 1867-11-07 1934-07-04
Nikola Tesla   Engineer  1856-07-10  1943-01-07   86 1856-07-10 1943-01-07

In [172]:
scientists_dropped= scientists.drop(['Age'], axis= "columns")
print(scientists_dropped.columns)

Index(['Occupation', 'Born', 'Died', 'Born_dt', 'Died_dt'], dtype='object')

In [ ]:
# Assignment -3

In [82]:
my_dict={"JACK" : [25,30,40] ,"Edward": [23,38,33] , "Melissa":[31,44,60]}

In [84]:
import pandas as pd
df =pd.DataFrame(my_dict)
print(df)

   JACK  Edward  Melissa
0    25      23       31
1    30      38       44
2    40      33       60

In [86]:
def avg_3_apply(col):
    x=col[0]
    y=col[1]
    z=col[2]
    return (x+y+z)/3

In [88]:
print(df.apply(avg_3_apply))

JACK       31.666667
Edward     31.333333
Melissa    45.000000
dtype: float64

In [90]:
def avg_subject_apply(row):
    x = row[0]
    y = row[1]
    z = row[2]
    return round((x + y + z) / 3, 2)

In [92]:
print(df.apply(avg_subject_apply ,axis=1))

0    26.33
1    37.33
2    44.33
dtype: float64

/var/folders/jd/746wbsm133x23cvkw2qlxzmh0000gp/T/ipykernel_1548/1625818168.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  x = row[0]
/var/folders/jd/746wbsm133x23cvkw2qlxzmh0000gp/T/ipykernel_1548/1625818168.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  y = row[1]
/var/folders/jd/746wbsm133x23cvkw2qlxzmh0000gp/T/ipykernel_1548/1625818168.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  z = row[2]

In [95]:
import pandas as pd

df1= pd.read_csv('concat_1.csv')
df2= pd.read_csv('concat_2.csv')
df3= pd.read_csv('concat_3.csv')
print(df1)
print(df2)
print(df3)

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
    A   B   C   D
0  a4  b4  c4  d4
1  a5  b5  c5  d5
2  a6  b6  c6  d6
3  a7  b7  c7  d7
     A    B    C    D
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

In [126]:
col_concat= pd.concat([df1,df2,df3], axis="columns")
print(col_concat)

     A    B    C    D    E    F    G    H    A    C    F    H
0   a0   b0   c0   d0  NaN  NaN  NaN  NaN   a8   b8   c8   d8
1   a1   b1   c1   d1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2   a2   b2   c2   d2  NaN  NaN  NaN  NaN   a9   b9   c9   d9
3   a3   b3   c3   d3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN   a4   b4   c4   d4  NaN  NaN  NaN  NaN
5  NaN  NaN  NaN  NaN   a5   b5   c5   d5  a10  b10  c10  d10
6  NaN  NaN  NaN  NaN   a6   b6   c6   d6  NaN  NaN  NaN  NaN
7  NaN  NaN  NaN  NaN   a7   b7   c7   d7  a11  b11  c11  d11

In [103]:
col_concat['new_col_list']=['n1','n2','n3','n4']
print(col_concat)

    A   B   C   D   A   B   C   D    A    B    C    D new_col_list
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8           n1
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9           n2
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10           n3
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11           n4

In [106]:
df1.columns=['A','B','C','D']
df2.columns=['E','F','G','H']
df3.columns=['A','C','F','H']

In [109]:
row_concat=pd.concat([df1,df2,df3])
print(row_concat)

     A    B    C    D    E    F    G    H
0   a0   b0   c0   d0  NaN  NaN  NaN  NaN
1   a1   b1   c1   d1  NaN  NaN  NaN  NaN
2   a2   b2   c2   d2  NaN  NaN  NaN  NaN
3   a3   b3   c3   d3  NaN  NaN  NaN  NaN
0  NaN  NaN  NaN  NaN   a4   b4   c4   d4
1  NaN  NaN  NaN  NaN   a5   b5   c5   d5
2  NaN  NaN  NaN  NaN   a6   b6   c6   d6
3  NaN  NaN  NaN  NaN   a7   b7   c7   d7
0   a8  NaN   b8  NaN  NaN   c8  NaN   d8
1   a9  NaN   b9  NaN  NaN   c9  NaN   d9
2  a10  NaN  b10  NaN  NaN  c10  NaN  d10
3  a11  NaN  b11  NaN  NaN  c11  NaN  d11

In [113]:
# Set the index for df1
df1.index = [0, 1, 2, 3]

# Set the index for df2
df2.index = [4, 5, 6, 7]

# Set the index for df3
df3.index = [0, 2, 5, 7]

print(df1)
print(df2)
print(df3)

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
    E   F   G   H
4  a4  b4  c4  d4
5  a5  b5  c5  d5
6  a6  b6  c6  d6
7  a7  b7  c7  d7
     A    C    F    H
0   a8   b8   c8   d8
2   a9   b9   c9   d9
5  a10  b10  c10  d10
7  a11  b11  c11  d11

In [119]:
print(pd.concat([df1,df3],ignore_index=False, join="inner"))

     A    C
0   a0   c0
1   a1   c1
2   a2   c2
3   a3   c3
0   a8   b8
2   a9   b9
5  a10  b10
7  a11  b11

In [144]:
dict1 = {"P":['p0','p1','p2'], "Q":['q0','q1','q2'],"R":['r0','r1','r2'],"S":['s0','s1','s2']}
print(dict1)

{'P': ['p0', 'p1', 'p2'], 'Q': ['q0', 'q1', 'q2'], 'R': ['r0', 'r1', 'r2'], 'S': ['s0', 's1', 's2']}

In [146]:
df = pd.DataFrame(dict1)
print(df)

    P   Q   R   S
0  p0  q0  r0  s0
1  p1  q1  r1  s1
2  p2  q2  r2  s2

In [154]:
dict2= {"P":[45],"Q":[20],"R":[29],"S":[7]}
print(dict2)

{'P': [45], 'Q': [20], 'R': [29], 'S': [7]}

In [156]:
df1=pd.DataFrame(dict2)
print(df1)

    P   Q   R  S
0  45  20  29  7

In [160]:
con = pd.concat([df,df1])
print(con)

    P   Q   R   S
0  p0  q0  r0  s0
1  p1  q1  r1  s1
2  p2  q2  r2  s2
0  45  20  29   7

In [ ]:
#Group Lab - 3

In [245]:
import pandas as pd

df_person = pd.read_csv('SURVEY_PERSON.CSV')
df_survey =pd.read_csv('SURVEY_SURVEY.CSV')
df_site = pd.read_csv('SURVEY_SITE.CSV')
df_visited =pd.read_csv('SURVEY_VISITED.CSV')

print(df_person)
print(df_survey)
print(df_site)
print(df_visited)

      ident   personal    family
0      dyer    William      Dyer
1        pb      Frank   Pabodie
2      lake   Anderson      Lake
3       roe  Valentina   Roerich
4  danforth      Frank  Danforth
    taken person quant  reading
0     619   dyer   rad     9.82
1     619   dyer   sal     0.13
2     622   dyer   rad     7.80
3     622   dyer   sal     0.09
4     734     pb   rad     8.41
5     734   lake   sal     0.05
6     734     pb  temp   -21.50
7     735     pb   rad     7.22
8     735    NaN   sal     0.06
9     735    NaN  temp   -26.00
10    751     pb   rad     4.35
11    751     pb  temp   -18.50
12    751   lake   sal     0.10
13    752   lake   rad     2.19
14    752   lake   sal     0.09
15    752   lake  temp   -16.00
16    752    roe   sal    41.60
17    837   lake   rad     1.46
18    837   lake   sal     0.21
19    837    roe   sal    22.50
20    844    roe   rad    11.25
    name    lat    long
0   DR-1 -49.85 -128.57
1   DR-3 -47.15 -126.72
2  MSK-4 -48.87 -123.40
   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3         NaN
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

In [144]:
visited_subset = df_visited.iloc[[0, 2, 6]]
print(visited_subset)

   ident   site       dated
0    619   DR-1  1927-02-08
2    734   DR-3  1939-01-07
6    837  MSK-4  1932-01-14

In [241]:
o20_merge = pd.concat([visited_subset,df_site], axis=1)
print(o20_merge)

    ident   site       dated  taken person quant  reading
0   619.0   DR-1  1927-02-08    619   dyer   rad     9.82
2   734.0   DR-3  1939-01-07    622   dyer   rad     7.80
6   837.0  MSK-4  1932-01-14    734     pb  temp   -21.50
1     NaN    NaN         NaN    619   dyer   sal     0.13
3     NaN    NaN         NaN    622   dyer   sal     0.09
4     NaN    NaN         NaN    734     pb   rad     8.41
5     NaN    NaN         NaN    734   lake   sal     0.05
7     NaN    NaN         NaN    735     pb   rad     7.22
8     NaN    NaN         NaN    735    NaN   sal     0.06
9     NaN    NaN         NaN    735    NaN  temp   -26.00
10    NaN    NaN         NaN    751     pb   rad     4.35
11    NaN    NaN         NaN    751     pb  temp   -18.50
12    NaN    NaN         NaN    751   lake   sal     0.10
13    NaN    NaN         NaN    752   lake   rad     2.19
14    NaN    NaN         NaN    752   lake   sal     0.09
15    NaN    NaN         NaN    752   lake  temp   -16.00
16    NaN    NaN         NaN    752    roe   sal    41.60
17    NaN    NaN         NaN    837   lake   rad     1.46
18    NaN    NaN         NaN    837   lake   sal     0.21
19    NaN    NaN         NaN    837    roe   sal    22.50
20    NaN    NaN         NaN    844    roe   rad    11.25

In [239]:
m20_merge=pd.concat([df_site.set_index('name'),visited_subset.set_index('name')],axis=1, join ='inner')
print(m20_merge)

KeyError: "None of ['name'] are in the columns"

In [229]:
ps=pd.concat([df_person.set_index('ident'),df_site],axis=1)
print(ps)

           personal    family  taken person quant  reading
dyer        William      Dyer    NaN    NaN   NaN      NaN
pb            Frank   Pabodie    NaN    NaN   NaN      NaN
lake       Anderson      Lake    NaN    NaN   NaN      NaN
roe       Valentina   Roerich    NaN    NaN   NaN      NaN
danforth      Frank  Danforth    NaN    NaN   NaN      NaN
0               NaN       NaN  619.0   dyer   rad     9.82
1               NaN       NaN  619.0   dyer   sal     0.13
2               NaN       NaN  622.0   dyer   rad     7.80
3               NaN       NaN  622.0   dyer   sal     0.09
4               NaN       NaN  734.0     pb   rad     8.41
5               NaN       NaN  734.0   lake   sal     0.05
6               NaN       NaN  734.0     pb  temp   -21.50
7               NaN       NaN  735.0     pb   rad     7.22
8               NaN       NaN  735.0    NaN   sal     0.06
9               NaN       NaN  735.0    NaN  temp   -26.00
10              NaN       NaN  751.0     pb   rad     4.35
11              NaN       NaN  751.0     pb  temp   -18.50
12              NaN       NaN  751.0   lake   sal     0.10
13              NaN       NaN  752.0   lake   rad     2.19
14              NaN       NaN  752.0   lake   sal     0.09
15              NaN       NaN  752.0   lake  temp   -16.00
16              NaN       NaN  752.0    roe   sal    41.60
17              NaN       NaN  837.0   lake   rad     1.46
18              NaN       NaN  837.0   lake   sal     0.21
19              NaN       NaN  837.0    roe   sal    22.50
20              NaN       NaN  844.0    roe   rad    11.25

In [215]:
vs=pd.concat([df_visited.set_index('ident'),df_site.set_index('taken')],join='inner')
print(vs)

Empty DataFrame
Columns: []
Index: [619, 622, 734, 735, 751, 752, 837, 844, 619, 619, 622, 622, 734, 734, 734, 735, 735, 735, 751, 751, 751, 752, 752, 752, 752, 837, 837, 837, 844]

In [225]:
# vs_ps = pd.concat([ps.set_index('quant'),vs.set_index('quant')],axis=1)
# print(vs_ps)

ps_vs = pd.merge(ps,vs, on="quant", how="inner")
# ps_vs = pd.concat([ps,vs],keys= "quant",axis=1)
print(ps_vs)

KeyError: 'quant'

In [207]:
first_row = ps_vs.iloc[0]
print(first_row)

personal        William
family             Dyer
taken               NaN
person_x            NaN
quant               NaN
reading_x           NaN
site               DR-1
dated        1927-02-08
person_y            NaN
reading_y           NaN
Name: 0, dtype: object