In [12]:
import pandas as pd
import seaborn as sns

tips = sns.load_dataset("tips")
print(tips)

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [14]:
print(tips.dtypes)

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

In [ ]:
#categorical datatype represents categorical variables.

In [16]:
tips['sex_str']= tips['sex'].astype(str)
print(tips.dtypes)

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

In [9]:
tips['total_bill']= tips['total_bill'].astype(str)
print(tips.dtypes)

total_bill      object
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

In [31]:
tips['total_bill']= tips['total_bill'].astype(float)
print(tips.dtypes)

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time           float64
size             int64
sex_str         object
dtype: object

In [18]:
tips_sub_miss =tips.head(10).copy()
#assign some missing values
tips_sub_miss.loc[[1,3,5,7],'total_bill']='missing'
print(tips_sub_miss)

  total_bill   tip     sex smoker  day    time  size sex_str
0      16.99  1.01  Female     No  Sun  Dinner     2  Female
1    missing  1.66    Male     No  Sun  Dinner     3    Male
2      21.01  3.50    Male     No  Sun  Dinner     3    Male
3    missing  3.31    Male     No  Sun  Dinner     2    Male
4      24.59  3.61  Female     No  Sun  Dinner     4  Female
5    missing  4.71    Male     No  Sun  Dinner     4    Male
6       8.77  2.00    Male     No  Sun  Dinner     2    Male
7    missing  3.12    Male     No  Sun  Dinner     4    Male
8      15.04  1.96    Male     No  Sun  Dinner     2    Male
9      14.78  3.23    Male     No  Sun  Dinner     2    Male

/var/folders/jd/746wbsm133x23cvkw2qlxzmh0000gp/T/ipykernel_25072/3483811430.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'missing' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  tips_sub_miss.loc[[1,3,5,7],'total_bill']='missing'

In [20]:
print(tips_sub_miss.dtypes)

total_bill      object
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

In [28]:
tips_sub_miss['total_bill'] = tips_sub_miss['total_bill'].astype(float)

ValueError: could not convert string to float: 'missing'

In [26]:

pd.to_numeric(tips_sub_miss['total_bill'])

ValueError: Unable to parse string "missing" at position 1

In [ ]:
#to_numeric , raise - code does not encounter any value  ,coerce = invalid parsing ,something it cant convert  , ignore =same value back

In [67]:
tips_sub_miss["total_bill"] = pd.to_numeric(tips_sub_miss["total_bill"], errors="ignore")
print(tips_sub_miss)

  total_bill   tip     sex smoker  day  time  size sex_str
0       16.0  1.01  Female     No  Sun  16.0     2  Female
1    missing  1.66    Male     No  Sun  10.0     3    Male
2       21.0  3.50    Male     No  Sun  21.0     3    Male
3    missing  3.31    Male     No  Sun  23.0     2    Male
4       24.0  3.61  Female     No  Sun  24.0     4  Female
5    missing  4.71    Male     No  Sun  25.0     4    Male
6        8.0  2.00    Male     No  Sun   8.0     2    Male
7    missing  3.12    Male     No  Sun  26.0     4    Male
8       15.0  1.96    Male     No  Sun  15.0     2    Male
9       14.0  3.23    Male     No  Sun  14.0     2    Male

/var/folders/jd/746wbsm133x23cvkw2qlxzmh0000gp/T/ipykernel_7067/3619538202.py:1: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  tips_sub_miss["total_bill"] = pd.to_numeric(tips_sub_miss["total_bill"], errors="ignore")

In [69]:
tips_sub_miss["total_bill"] = pd.to_numeric(tips_subs_miss["total_bill"],errors="coerce")
print(tips_sub_miss)

NameError: name 'tips_subs_miss' is not defined

In [63]:
tips['sex'] = tips['sex'].astype('str')
print(tips.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    float64
 6   size        244 non-null    int64
 7   sex_str     244 non-null    object
dtypes: category(2), float64(3), int64(1), object(2)
memory usage: 12.4+ KB
None

In [65]:
tips['sex'] = tips['sex'].astype('category')
print(tips.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    float64
 6   size        244 non-null    int64
 7   sex_str     244 non-null    object
dtypes: category(3), float64(3), int64(1), object(1)
memory usage: 10.8+ KB
None