In [3]:
import re

In [28]:
multi_str ="""GUARD: WHAT? THERE ARE 14 EMPLOYEES IN THE OFFICE?
 WORKER: YES! 
 GUARD: BUT, IT IS GOING BEYOND THE CLOSING TIME.
 WORKER: WHAT? 
 GUARD: WE NEED TO INFORM THE HEAD REPRESENTATIVES
"""
print(multi_str)

GUARD: WHAT? THERE ARE 14 EMPLOYEES IN THE OFFICE?
 WORKER: YES!
 GUARD: BUT, IT IS GOING BEYOND THE CLOSING TIME.
 WORKER: WHAT?
 GUARD: WE NEED TO INFORM THE HEAD REPRESENTATIVES

In [7]:
sliced_str = multi_str[6:13]
print(sliced_str)

D: WHAT

In [9]:
sliced_str2 = multi_str[-32:-17]  # End index is exclusive
print(sliced_str2)

INFORM THE HEAD

In [13]:
s_multi_str =len(multi_str)
print(s_multi_str)

185

In [15]:
sliced_str = multi_str[::5]  
print(sliced_str)

RHT 1PE OEO:!U  SNYTLGEO:TG:NTFTEEEI

In [17]:
u_count = multi_str.count('U')
print(u_count)

4

In [19]:
is_alpha_result = multi_str.isalpha()
print(is_alpha_result)

False

In [30]:
multi_str_split= multi_str.splitlines()
print(multi_str_split)

['GUARD: WHAT? THERE ARE 14 EMPLOYEES IN THE OFFICE?', ' WORKER: YES! ', ' GUARD: BUT, IT IS GOING BEYOND THE CLOSING TIME.', ' WORKER: WHAT? ', ' GUARD: WE NEED TO INFORM THE HEAD REPRESENTATIVES']

In [32]:
guard = multi_str_split[::2]

print(guard)

['GUARD: WHAT? THERE ARE 14 EMPLOYEES IN THE OFFICE?', ' GUARD: BUT, IT IS GOING BEYOND THE CLOSING TIME.', ' GUARD: WE NEED TO INFORM THE HEAD REPRESENTATIVES']

In [34]:
p = "\\W+\\S?\\W+:\\S?"


p_raw = r"\W+\S?\W+:\S?"


print(p)
print(p_raw)

\W+\S?\W+:\S?
\W+\S?\W+:\S?

In [36]:
import re

# Defining the regular expression pattern
p = r"\W+\S?\W+:\S?"  # Ensure this pattern correctly matches intended text


# Performing the substitution
s = re.sub(p, ' ', multi_str)

# Print the modified string
print(s)

GUARD: WHAT? THERE ARE 14 EMPLOYEES IN THE OFFICE?
 WORKER: YES!
 GUARD: BUT, IT IS GOING BEYOND THE CLOSING TIME.
 WORKER: WHAT?
 GUARD: WE NEED TO INFORM THE HEAD REPRESENTATIVES

In [40]:
pattern = r"\d+"

matches = re.findall(pattern, multi_str)

if matches:
    print(f"Numbers found in the string: {matches}")
else:
    print("No numbers were found in the string.")

Numbers found in the string: ['14']

In [42]:
import pandas as pd

In [50]:
tesla = pd.read_csv('tesla_stock_yahoo.csv', parse_dates=['Date'])

print(tesla)


print("\nDataset Information:")
print(tesla.info())

print("\nDate Column Data Type:")
print(tesla['Date'].dtype)

           Date        Open        High         Low       Close   Adj Close  \
0    2010-06-29   19.000000   25.000000   17.540001   23.889999   23.889999
1    2010-06-30   25.790001   30.420000   23.299999   23.830000   23.830000
2    2010-07-01   25.000000   25.920000   20.270000   21.959999   21.959999
3    2010-07-02   23.000000   23.100000   18.709999   19.200001   19.200001
4    2010-07-06   20.000000   20.000000   15.830000   16.110001   16.110001
...         ...         ...         ...         ...         ...         ...
1786 2017-08-02  318.940002  327.119995  311.220001  325.890015  325.890015
1787 2017-08-03  345.329987  350.000000  343.149994  347.089996  347.089996
1788 2017-08-04  347.000000  357.269989  343.299988  356.910004  356.910004
1789 2017-08-07  357.350006  359.480011  352.750000  355.170013  355.170013
1790 2017-08-08  357.529999  368.579987  357.399994  365.220001  365.220001

        Volume
0     18766300
1     17187100
2      8218800
3      5139800
4      6866900
...        ...
1786  13091500
1787  13535000
1788   9198400
1789   6276900
1790   7449837

[1791 rows x 7 columns]

Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1791 entries, 0 to 1790
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1791 non-null   datetime64[ns]
 1   Open       1791 non-null   float64
 2   High       1791 non-null   float64
 3   Low        1791 non-null   float64
 4   Close      1791 non-null   float64
 5   Adj Close  1791 non-null   float64
 6   Volume     1791 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 98.1 KB
None

Date Column Data Type:
datetime64[ns]

In [52]:
filtered_tesla = tesla[(tesla['Date'].dt.year == 2010) & (tesla['Date'].dt.month == 6)]


print("Rows for June 2010:")
print(filtered_tesla)

print("\nNumber of rows in June 2010:", len(filtered_tesla))
print("\nUnique years and months in the filtered data:")
print(filtered_tesla['Date'].dt.to_period('M').unique())

Rows for June 2010:
        Date       Open   High        Low      Close  Adj Close    Volume
0 2010-06-29  19.000000  25.00  17.540001  23.889999  23.889999  18766300
1 2010-06-30  25.790001  30.42  23.299999  23.830000  23.830000  17187100

Number of rows in June 2010: 2

Unique years and months in the filtered data:
<PeriodArray>
['2010-06']
Length: 1, dtype: period[M]

In [54]:
tesla.set_index('Date', inplace=True)
print("Tesla DataFrame with Date as Index:")
print(tesla)

Tesla DataFrame with Date as Index:
                  Open        High         Low       Close   Adj Close  \
Date
2010-06-29   19.000000   25.000000   17.540001   23.889999   23.889999
2010-06-30   25.790001   30.420000   23.299999   23.830000   23.830000
2010-07-01   25.000000   25.920000   20.270000   21.959999   21.959999
2010-07-02   23.000000   23.100000   18.709999   19.200001   19.200001
2010-07-06   20.000000   20.000000   15.830000   16.110001   16.110001
...                ...         ...         ...         ...         ...
2017-08-02  318.940002  327.119995  311.220001  325.890015  325.890015
2017-08-03  345.329987  350.000000  343.149994  347.089996  347.089996
2017-08-04  347.000000  357.269989  343.299988  356.910004  356.910004
2017-08-07  357.350006  359.480011  352.750000  355.170013  355.170013
2017-08-08  357.529999  368.579987  357.399994  365.220001  365.220001

              Volume
Date
2010-06-29  18766300
2010-06-30  17187100
2010-07-01   8218800
2010-07-02   5139800
2010-07-06   6866900
...              ...
2017-08-02  13091500
2017-08-03  13535000
2017-08-04   9198400
2017-08-07   6276900
2017-08-08   7449837

[1791 rows x 6 columns]

In [56]:
tesla_2015 = tesla.loc['2015']

# Display the filtered dataset
print("Tesla Stock Data for 2015:")
print(tesla_2015)

# Verification steps
print("\nNumber of rows in 2015:", len(tesla_2015))
print("\nFirst and last dates in the filtered data:")
print("First date:", tesla_2015.index[0])
print("Last date:", tesla_2015.index[-1])

# Additional verification of year
print("\nUnique years in the filtered data:")
print(tesla_2015.index.year.unique())

Tesla Stock Data for 2015:
                  Open        High         Low       Close   Adj Close  \
Date
2015-01-02  222.869995  223.250000  213.259995  219.309998  219.309998
2015-01-05  214.550003  216.500000  207.160004  210.089996  210.089996
2015-01-06  210.059998  214.199997  204.210007  211.279999  211.279999
2015-01-07  213.350006  214.779999  209.779999  210.949997  210.949997
2015-01-08  212.809998  213.800003  210.009995  210.619995  210.619995
...                ...         ...         ...         ...         ...
2015-12-24  230.559998  231.880005  228.279999  230.570007  230.570007
2015-12-28  231.490005  231.979996  225.539993  228.949997  228.949997
2015-12-29  230.059998  237.720001  229.550003  237.190002  237.190002
2015-12-30  236.600006  243.630005  235.669998  238.089996  238.089996
2015-12-31  238.509995  243.449997  238.369995  240.009995  240.009995

             Volume
Date
2015-01-02  4764400
2015-01-05  5368500
2015-01-06  6261900
2015-01-07  2968400
2015-01-08  3442500
...             ...
2015-12-24   708000
2015-12-28  1901300
2015-12-29  2406300
2015-12-30  3697900
2015-12-31  2683200

[252 rows x 6 columns]

Number of rows in 2015: 252

First and last dates in the filtered data:
First date: 2015-01-02 00:00:00
Last date: 2015-12-31 00:00:00

Unique years in the filtered data:
Index([2015], dtype='int32', name='Date')

In [60]:
tesla_june_2010 = tesla.loc['2010-06']

# Display the filtered dataset
print("Tesla Stock Data for June 2010:")
print(tesla_june_2010)

print("\nNumber of rows in June 2010:", len(tesla_june_2010))

Tesla Stock Data for June 2010:
                 Open   High        Low      Close  Adj Close    Volume
Date
2010-06-29  19.000000  25.00  17.540001  23.889999  23.889999  18766300
2010-06-30  25.790001  30.42  23.299999  23.830000  23.830000  17187100

Number of rows in June 2010: 2