In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('EDGAR Entity Landing Page.csv')

In [36]:
df.columns
print(df.dtypes)

Form type                   object
Form description            object
Filing date         datetime64[ns]
Reporting date              object
Year                         int32
dtype: object

In [22]:
df_10k = df[df['Form type'] == '10-K']
df_10k

,Form type,Form description,Filing date,Reporting date
0,10-K,"Annual report [Section 13 and 15(d), not S-K I...",2025-01-30,2024-12-31
1,10-K,"Annual report [Section 13 and 15(d), not S-K I...",2024-01-29,2023-12-31
2,10-K,"Annual report [Section 13 and 15(d), not S-K I...",2023-01-31,2022-12-31
3,10-K,"Annual report [Section 13 and 15(d), not S-K I...",2022-02-07,2021-12-31
4,10-K,"Annual report [Section 13 and 15(d), not S-K I...",2021-02-08,2020-12-31
5,10-K,"Annual report [Section 13 and 15(d), not S-K I...",2020-02-13,2019-12-31
6,10-K,"Annual report [Section 13 and 15(d), not S-K I...",2019-02-19,2018-12-31
7,10-K,"Annual report [Section 13 and 15(d), not S-K I...",2018-02-23,2017-12-31
8,10-K,"Annual report [Section 13 and 15(d), not S-K I...",2017-03-01,2016-12-31

In [30]:
df['Filing date'] = pd.to_datetime(df['Filing date'])
df['Year'] =df['Filing date'].dt.year
print(df['Year'])

0      2025
1      2024
2      2023
3      2022
4      2021
       ...
490    2019
491    2018
492    2018
493    2017
494    2017
Name: Year, Length: 495, dtype: int32

In [ ]:
df_filtered =