In [20]:
import pandas as pd

billboard = pd.read_csv('BILLBOARD.CSV')
print(billboard.columns)

Index(['year', 'artist', 'track', 'time', 'date.entered', 'wk1', 'wk2', 'wk3',
       'wk4', 'wk5', 'wk6', 'wk7', 'wk8', 'wk9', 'wk10', 'wk11', 'wk12',
       'wk13', 'wk14', 'wk15', 'wk16', 'wk17', 'wk18', 'wk19', 'wk20', 'wk21',
       'wk22', 'wk23', 'wk24', 'wk25', 'wk26', 'wk27', 'wk28', 'wk29', 'wk30',
       'wk31', 'wk32', 'wk33', 'wk34', 'wk35', 'wk36', 'wk37', 'wk38', 'wk39',
       'wk40', 'wk41', 'wk42', 'wk43', 'wk44', 'wk45', 'wk46', 'wk47', 'wk48',
       'wk49', 'wk50', 'wk51', 'wk52', 'wk53', 'wk54', 'wk55', 'wk56', 'wk57',
       'wk58', 'wk59', 'wk60', 'wk61', 'wk62', 'wk63', 'wk64', 'wk65', 'wk66',
       'wk67', 'wk68', 'wk69', 'wk70', 'wk71', 'wk72', 'wk73', 'wk74', 'wk75',
       'wk76'],
      dtype='object')

In [26]:
billboard_Long = billboard.melt(
    id_vars=["year", "artist", "track", "time", "date.entered"], 
    var_name="week", 
    value_name="rating"  
)
print(billboard_Long)

       year            artist                    track  time date.entered  \
0      2000             2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26
1      2000           2Ge+her  The Hardest Part Of ...  3:15   2000-09-02
2      2000      3 Doors Down               Kryptonite  3:53   2000-04-08
3      2000      3 Doors Down                    Loser  4:24   2000-10-21
4      2000          504 Boyz            Wobble Wobble  3:35   2000-04-15
...     ...               ...                      ...   ...          ...
24087  2000       Yankee Grey     Another Nine Minutes  3:10   2000-04-29
24088  2000  Yearwood, Trisha          Real Live Woman  3:55   2000-04-01
24089  2000   Ying Yang Twins  Whistle While You Tw...  4:19   2000-03-18
24090  2000     Zombie Nation            Kernkraft 400  3:30   2000-09-02
24091  2000   matchbox twenty                     Bent  4:12   2000-04-29

       week  rating
0       wk1    87.0
1       wk1    91.0
2       wk1    81.0
3       wk1    76.0
4       wk1    57.0
...     ...     ...
24087  wk76     NaN
24088  wk76     NaN
24089  wk76     NaN
24090  wk76     NaN
24091  wk76     NaN

[24092 rows x 7 columns]

In [33]:
df_filter = billboard_Long.loc[billboard_Long['track'] =='Loser']
print(df_filter)

       year        artist  track  time date.entered  week  rating
3      2000  3 Doors Down  Loser  4:24   2000-10-21   wk1    76.0
320    2000  3 Doors Down  Loser  4:24   2000-10-21   wk2    76.0
637    2000  3 Doors Down  Loser  4:24   2000-10-21   wk3    72.0
954    2000  3 Doors Down  Loser  4:24   2000-10-21   wk4    69.0
1271   2000  3 Doors Down  Loser  4:24   2000-10-21   wk5    67.0
...     ...           ...    ...   ...          ...   ...     ...
22510  2000  3 Doors Down  Loser  4:24   2000-10-21  wk72     NaN
22827  2000  3 Doors Down  Loser  4:24   2000-10-21  wk73     NaN
23144  2000  3 Doors Down  Loser  4:24   2000-10-21  wk74     NaN
23461  2000  3 Doors Down  Loser  4:24   2000-10-21  wk75     NaN
23778  2000  3 Doors Down  Loser  4:24   2000-10-21  wk76     NaN

[76 rows x 7 columns]

In [35]:
billboard_Songs = billboard_Long[['year','artist','track','time']]
print(billboard_Songs.shape)

(24092, 4)

In [41]:
billboard_Songs = billboard_Songs.drop_duplicates()
print(billboard_Songs.shape)

(317, 4)

In [43]:
billboard_Songs['id']= billboard_Songs.index +1 
print(billboard_Songs)

     year            artist                    track  time   id
0    2000             2 Pac  Baby Don't Cry (Keep...  4:22    1
1    2000           2Ge+her  The Hardest Part Of ...  3:15    2
2    2000      3 Doors Down               Kryptonite  3:53    3
3    2000      3 Doors Down                    Loser  4:24    4
4    2000          504 Boyz            Wobble Wobble  3:35    5
..    ...               ...                      ...   ...  ...
312  2000       Yankee Grey     Another Nine Minutes  3:10  313
313  2000  Yearwood, Trisha          Real Live Woman  3:55  314
314  2000   Ying Yang Twins  Whistle While You Tw...  4:19  315
315  2000     Zombie Nation            Kernkraft 400  3:30  316
316  2000   matchbox twenty                     Bent  4:12  317

[317 rows x 5 columns]

In [49]:
billboard_Ratings = pd.merge(billboard_Long, billboard_Songs, on=["year","artist","track","time"])

print(billboard_Ratings.shape)
print(billboard_Ratings.head())

(24092, 8)
   year        artist                    track  time date.entered week  \
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02  wk1
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08  wk1
3  2000  3 Doors Down                    Loser  4:24   2000-10-21  wk1
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15  wk1

   rating  id
0    87.0   1
1    91.0   2
2    81.0   3
3    76.0   4
4    57.0   5

In [51]:
billboard_Ratings = billboard_Ratings[["id", "date.entered", "week", "rating"]]
print(billboard_Ratings)

        id date.entered  week  rating
0        1   2000-02-26   wk1    87.0
1        2   2000-09-02   wk1    91.0
2        3   2000-04-08   wk1    81.0
3        4   2000-10-21   wk1    76.0
4        5   2000-04-15   wk1    57.0
...    ...          ...   ...     ...
24087  313   2000-04-29  wk76     NaN
24088  314   2000-04-01  wk76     NaN
24089  315   2000-03-18  wk76     NaN
24090  316   2000-09-02  wk76     NaN
24091  317   2000-04-29  wk76     NaN

[24092 rows x 4 columns]

In [ ]:
# Lab4_2

In [11]:
import pandas as pd

df=pd.read_csv('GAPMINDER.TSV', sep='\t')
print(df)

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [13]:
avg_life_exp_year = df.groupby('year')['lifeExp'].mean()
print(avg_life_exp_year)

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [15]:
df_year = df['year'].unique()
print(df_year)

[1952 1957 1962 1967 1972 1977 1982 1987 1992 1997 2002 2007]

In [31]:
df_year_1952 =df.loc[df['year'] == 1952, :]
print(df_year_1952)

                 country continent  year  lifeExp       pop    gdpPercap
0            Afghanistan      Asia  1952   28.801   8425333   779.445314
12               Albania    Europe  1952   55.230   1282697  1601.056136
24               Algeria    Africa  1952   43.077   9279525  2449.008185
36                Angola    Africa  1952   30.015   4232095  3520.610273
48             Argentina  Americas  1952   62.485  17876956  5911.315053
...                  ...       ...   ...      ...       ...          ...
1644             Vietnam      Asia  1952   40.412  26246839   605.066492
1656  West Bank and Gaza      Asia  1952   43.160   1030585  1515.592329
1668         Yemen, Rep.      Asia  1952   32.548   4963829   781.717576
1680              Zambia    Africa  1952   42.038   2672000  1147.388831
1692            Zimbabwe    Africa  1952   48.451   3080907   406.884115

[142 rows x 6 columns]

In [33]:
Y1952_MEAN = df_year_1952['lifeExp'].mean()
print(Y1952_MEAN)

49.057619718309866